.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: center;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Movies {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 100%;
}

.Movie {
  text-align: center;
}

.Movie img {
  border-radius: 8px;
  margin-top: 16px;
}